{% extends "manager/base.html" %}

{% block title %}
今日订单
{% endblock %}

{% block content %}
<div id="orders_today">
    {% if request.user.is_authenticated %}
    {% load manager_filters %}
    <table class="manager_table">
        <caption>{{ today_datetime }}的订单</caption>
        <tr>
            <th>序号</th>
            <th>店铺</th>
            {% for product_total in products_total %}
            <th>
                {{ product_total.0.name }}
            </th>
            {% endfor %}
        </tr>
        {% for order in order_by %}
        <tr>
            <td>{{ order|add:1 }}</td>
            {% with user=users_sorted_list|get_list_value:order %}
            <td>{{ user }}</td>
            {% for product_total in products_total %}
            <td>{{ users_products_dic|get_value_dic:user|get_value:product_total.0 }}</td>
            {% endfor %}
            {% endwith %}
        </tr>
        {% endfor %}
        <tr>
            <th></th>
            <th>总量</th>
            {% for product_total in products_total %}
            <th>{{ product_total.1.total }}</th>
            {% endfor %}
        </tr>
    </table>
    <ul id="order_detail">
        {% for order_items in orders_items_list %}
        {% with order=order_items.0 %}
        <li>
            <p>订单号：{{ order.id }}</p>
            <p>创建时间： {{ order.created }}</p>
            <p>下单人：{{ order.user.user.first_name }}</p>
            {% if order.description %}
            <p>订单描述：{{ order.description }}</p>
            {% endif %}
            {% if order.send %}
            <strong style="color:#00FF00;">已发货</strong>
            {% else %}
            <strong style="color:#FF0000;">未发货</strong>
            {% endif %}
            {% if order.paid %}
            <strong style="color:#00FF00;">已支付</strong>
            {% else %}
            <strong style="color:#FF0000;">未支付</strong>
            {% endif %}
        {% endwith %}
        {% with items=order_items.1 %}
            <!--            展示清单, 使用自定义的过滤器-->
            <table>
                <tr style=" font-weight: bold;">
                    <td>产品</td>
                    <td>数量</td>
                </tr>
            {% for order_item in items %}
                <tr>
                    <td>{{ order_item.product.name }}</td>
                    <td>{{ order_item.quantity }} </td>
                </tr>
            {% endfor %}
            </table>
        {% endwith %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}