{% extends "manager/base.html" %}

{% block title %}
订单含金额
{% endblock %}

{% block content %}
{% load my_filters %}
<div>
    <!-- 过滤   -->
    {% if request.user.is_authenticated %}
    <div id="order_filter">
        <form action="{% url 'manager:order_list_cost' %}" method="GET">
            {{ form }}
            <input type="submit" value="确定">
        </form>
    </div>
    <a href="?user={{ url_get.user }}&paid={{ url_get.paid }}&send={{ url_get.send }}&created_start_year={{ url_get.created_start_year }}&created_start_month={{ url_get.created_start_month }}&created_start_day={{ url_get.created_start_day }}&created_end_year={{ url_get.created_end_year }}&created_end_month={{ url_get.created_end_month }}&created_end_day={{ url_get.created_end_day }}&export_csv=on1">导出清单表</a><br>
    <a href="?user={{ url_get.user }}&paid={{ url_get.paid }}&send={{ url_get.send }}&created_start_year={{ url_get.created_start_year }}&created_start_month={{ url_get.created_start_month }}&created_start_day={{ url_get.created_start_day }}&created_end_year={{ url_get.created_end_year }}&created_end_month={{ url_get.created_end_month }}&created_end_day={{ url_get.created_end_day }}&export_csv=on2">导出统计表</a>
    {% endif %}
    <ul>
        {% for order_items in orders_items_list %}
        {% with order=order_items.0 %}
        <li style="border-with:thin;border-style:dashed ;border-color:#007e7e;text-align: left;margin: 10px;padding: 5px; font-size: 10px;">
            <p style="margin: 5px">订单号：{{ order.id }}</p>
            <p style="margin: 5px">创建时间： {{ order.created }}</p>
            <p style="margin: 5px">下单人：{{ order.user.user.first_name }}</p>
            {% if order.description %}
            <p style="margin: 5px">订单描述：{{ order.description }}</p>
            {% endif %}
            <p style="margin: 5px">订单金额：{{ order.get_total_cost }}</p>
            {% if order.send %}
            <strong style="font-size:12px; color:#00FF00;">已发货</strong>
            {% else %}
            <strong style="font-size:12px; color:#FF0000;">未发货</strong>
            {% endif %}
            {% if order.paid %}
            <strong style="font-size:12px; color:#00FF00;">已支付</strong>
            {% else %}
            <strong style="font-size:12px; color:#FF0000;">未支付</strong>
            {% endif %}
        {% endwith %}
        {% with items=order_items.1 %}
            <!--            展示清单, 使用自定义的过滤器-->
            <table style="margin: 10px auto;">
                <tr style=" font-weight: bold;">
                    <td style="font-size:10px">产品</td>
                    <td style="font-size:10px">数量×价格</td>
                    <td style="font-size:10px">金额</td>
                </tr>
            {% for order_item in items %}
                <tr>
                    <td style="font-size:10px">{{ order_item.product.name }}</td>
                    <td style="font-size:10px">{{ order_item.quantity }} × {{ order_item.price }}</td>
                    <td style="font-size:10px">{{ order_item.get_cost }}</td>
                </tr>
            {% endfor %}
            </table>
        {% endwith %}
        </li>
        {% endfor %}
    </ul>
</div>
<div class="pagination">
    <span class="step-links">
        {% if orders_items_list.has_previous %}
            <a href="?page={{ orders_items_list.previous_page_number }}&user={{ url_get.user }}&paid={{ url_get.paid }}&send={{ url_get.send }}&created_start_year={{ url_get.created_start_year }}&created_start_month={{ url_get.created_start_month }}&created_start_day={{ url_get.created_start_day }}&created_end_year={{ url_get.created_end_year }}&created_end_month={{ url_get.created_end_month }}&created_end_day={{ url_get.created_end_day }}&export_csv=off">上一页</a>
        {% endif %}

        <span class="current">
             {{ orders_items_list.number }} / {{ orders_items_list.paginator.num_pages }}.
        </span>

        {% if orders_items_list.has_next %}
            <a href="?page={{ orders_items_list.next_page_number }}&user={{ url_get.user }}&paid={{ url_get.paid }}&send={{ url_get.send }}&created_start_year={{ url_get.created_start_year }}&created_start_month={{ url_get.created_start_month }}&created_start_day={{ url_get.created_start_day }}&created_end_year={{ url_get.created_end_year }}&created_end_month={{ url_get.created_end_month }}&created_end_day={{ url_get.created_end_day }}&export_csv=off">下一页</a>
        {% endif %}
    </span>
</div>
{% endblock %}