<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}shopping{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'mall/css/phone_base.css' %}" media="screen and (max-device-width: 480px)">
    <link rel="stylesheet" href="{% static 'mall/css/base.css' %}" media="screen and (min-device-width: 481px)">
</head>
<body>
<div id="header">
    <span class="logo">越香包</span>
    <!--  判断用户是否登录了，只给通过认证（authentication）的用户显示站点菜单  -->
    {% if request.user.is_authenticated %}
    <ul class="menu">
        <li {% if request.path|slice:"5" == '/mall' %}class="selected"{% endif %} >
        <a href="{% url 'mall:product_list' %}">商品</a>
        </li>
        <li {% if request.path|slice:"5" == '/cart' %}class="selected"{% endif %}>
        <a href="{% url 'cart:cart_detail' %}">购物车</a>
        </li>
        <li {% if request.path|slice:"18" == '/orders/order_list' %}class="selected"{% endif %}>
        <a href="{% url 'orders:order_list' %}">我的订单</a>
        <li {% if request.path|slice:"18" == '/orders/last_order' %}class="selected"{% endif %}>
        <a href="{% url 'orders:last_order' %}">快速下单</a>
        </li>
        <li {% if request.path|slice:"5" == '/help' %}class="selected"{% endif %}>
        <a href="{% url 'help:help_list' %}">帮助</a>
        </li>
    </ul>
    {% endif %}
    <span class="user">
               {% if request.user.is_authenticated %}
                <!--  显示用户名  -->
                 {{ request.user.first_name }}/
                 <a href="{% url 'change_password' %}">修改密码 / </a>
                 <a href="{% url 'logout' %}">登出 / </a>
        {% else %}
                 <a href="{% url 'login' %}">Log-in</a>
        {% endif %}
    </span>
</div>
<div id="subheader">
    <div class="cart">
        {% with total_items=cart|length %}
        {% if cart|length > 0 %}
        你的购物车:
        <a href="{% url 'cart:cart_detail' %}">
            {{ total_items }} 个商品{{ total_items|pluralize }},
            ￥{{ cart.get_total_price }}
        </a>
        {% else %}
        您的购物车没有商品
        {% endif %}
        {% endwith %}
    </div>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>