<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
<div id="header">
    <span class="logo">越香包</span>
    <!--  判断用户是否登录了，只给通过认证（authentication）的用户显示站点菜单  -->
    <span class="user">
               {% if request.user.is_authenticated %}
                <!--  显示用户名  -->
                 {{ request.user.first_name }}/
                 <a href="{% url 'change_password' %}">修改密码 / </a>
                 <a href="{% url 'logout' %}">登出 / </a>
        {% else %}
                 <a href="{% url 'login' %}">登录</a>
        {% endif %}
    </span>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>