{% extends "mall/base.html" %}

{% block title %}
快速下单
{% endblock %}

{% block content %}
<strong style="font-size:50px;margin-bottom:60px;"> 直接修改数量，并提交可快下单。</strong>



{% if request.user.is_authenticated %}
<form action="." method="post" style="font-size:40px;">
    {% for product, quantity in last_product_quantity.items %}
     {{ product }} ：<input type="number" name={{ product.id }} value={{ quantity }} style="font-size:40px;border:5px solid #00FF33;"> <br><br>
    {% endfor %}
    订单描述：<input style="font-size:40px;border:5px solid #0000FF;" type="text" name="description" value={{ description }} >
    <!-- 判断用户是否有提交订单权限   -->
    {% for user_permission in user_permissions %}
        {% if user_permission.name == '提交订单' %}
    <p><input type="submit" value="提交订单"></p>
        {% endif %}
    {% endfor %}
    {% csrf_token %}
</form>
<strong style="font-size:50px;color:#ff0000;margin-top:60px;"> {{ error_msg }}</strong>
{% endif %}
{% endblock %}