body{
  color: #000;
  background: #fff;
}

nav, aside {
  display: none;
}

body, article {
  width: 100%;
  margin: 0;
  padding: 0;
}

@page {
  margin: 2cm;
}

img {
   max-width: 100% !important;
}

#header {
    display: none;
}

#content {
    float: none;
}

#order_detail li{
    page-break-inside: avoid;
    font-size: 12pt;
    border-with:thin;
    border-style:dashed;
    margin-top: 10px;
    padding-left: 10px;
    width: 50%;
}

#order_detail li strong {
    display: none;
}

#order_detail li table {
    border:thin solid black;
    padding: 0px;
    margin-bottom: 10px;
}

#order_detail li td {
    border:thin solid black;
}

